<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496300174538-417860u6ak6eko6g3ggiclur99bu7b0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496300174538-417860u6ak6eko6g3ggiclur99bu7b0l</string>
	<key>API_KEY</key>
	<string>AIzaSyCBuPBVfo6nM4IxFl0gXJgW-TiC_g20tyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>496300174538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koing.dev.Pika-Pika</string>
	<key>PROJECT_ID</key>
	<string>pika-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>pika-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496300174538:ios:553731477c76ec20ee5833</string>
</dict>
</plist>